

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #C6E3E9;
  color: black;
}

.nav-links {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.logo {
  font-size: 16px;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #03025D;
  font-weight: 900;
}

.menu {
  display: flex;
}

.menu li:hover {
  background-color: white;
  transition: .3s;
  border-radius: 4px;
}

.menu li {
  padding: 2px 7px;
  font-size: 12px;
  color: black;
}

/* Responsive */
input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #C6E3E9;
    right: 0;
    left: 0;
    text-align: center;
    padding: 6px 0;
    margin-top: 10px;
    border: 1px solid white;
  }

  .menu li:hover {
    display: inline-block;
    background-color: white;
    transition: 0.3s ease;
  }

  .menu li {
    margin-top: 12px;
    color: #03025D;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
    padding: 1px;
    cursor: pointer;
    color: #03025D;
  }
}



.login-box {
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
  height: 75vh;
}


.left .right {
  flex-grow: 1;
}

.child-element.left  {
  background-color: #C6E3E9;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.registerPNG img {
  width: 100%;
  height: auto;
}
.registerPNG {
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding-left: 5px;
}
.loginPNG img {
  width: 100%;
  height: auto;
}

 .loginPNG {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right {
  width: 400px;
  margin-left: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

.login-box .right input {
  background-color: #D9D9D9;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 6px;
}

.login-box .right .inputs {
  display: grid;
}

.login-box .right .inputs button {
  color: black;
  border: none;
  padding: 6px;
  width: 120px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  background-color: #D9D9D9;
}

.login-box .left h2 {
  color: #03025D;
  
}

/* Landing Page */

.left img {
  width: 100%;
  height: auto;
  padding: 6px;
}

.land-btn button {
  display: inline-block;
  bottom: 0;
  margin: 0px 5px 0 5px;
  color: #03025D;
  border: none;
  padding: 6px;
  width: 100px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  background-color: #D9D9D9;
}

.land-btn button:hover {
  border: 1px solid #03025D;
}

.land-intro p {
  
  top: 0;
  font-size: 13px;
  color: #03025D;
}

/* Media Queries for Responsive Design */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .login-box {
    flex-direction: row;
    height: auto;
  }

  .left {
    width: auto;
    margin-right: 20px;
  }

  .right {
    width: auto;
    margin-left: 0;
    margin-top: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .login-box {
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: row;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .login-box {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .left {
    width: 300px;
  }

  .right {
    width: 500px;
  }
} 


/* User Dashboard */

.Hi-user {
  background-color: #C6E3E9;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.Hi-user h3 {
  padding: 8px;
  color: #03025D;
}

.parent-div {
  display: flex;
  width: 100%;
  padding: 25px;
  position: relative;
}

.left-child-div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  flex-shrink: 0;
}

.centered-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.vl {
  position: absolute;
  left: 225px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hl {
  width: 200px;
  border-top: 1px solid black;
  margin-top: 26px;
}

.right-child-div {
  margin-top: 10px;
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.right-child-div h3 {
  position: absolute;
  top: 0;
  left: 200px;
}

.note-title h6 {
  padding: 10px 0px;
  background-color:#C6E3E9;
  width: 225px;
  margin: 4px 0px;
  border-radius: 2px;
}

.note-title {
  text-align: center;
  margin-top: 15px;
}

.parent-div .left-child-div input, legend {
  outline: none;
  border: none;
}
.parent-div .left-child-div fieldset {
  border: 1px solid;
  color: #03025D;
}

  
.parent-div .left-child-div legend {
  font-size: 12px;
  color: #03025D;
}

.setTitle {
  margin: 8px 0px;
}

.parent-div .left-child-div textarea, legend {
  outline: none;
  border: none;
}
.parent-div .left-child-div fieldset {
  border: 1px solid;
  color: #03025D;
}

.parent-div .left-child-div legend {
  font-size: 12px;
  color: #03025D;
}

.addContent {
  margin: 8px 0px;
}

.save-btn {
  background: #C6E3E9;
  border: none;
  border-radius: 2px;
  padding: 5px 18px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 7px;
  color: #03025D;
}
.save-btn:hover {
  border: 1px solid #03025D;
}

.guideText {
  color: #c9c9c9;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.guidelineBox {
  margin-top: 9px;
  padding-top: 9px;
}

/* Modal box */

.right-child-div.blur {
  filter: blur(5px); /* Intially set to no blur */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 30%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999; /* Ensure modal appears above other elements */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.right-child-div.blur {
  filter: blur(5px); /* Apply blur when .blur class is added */
}

.modal-content {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
}

.modal-input input, textarea {
  padding: 5px 0px;
  margin: 5px 0px;
  outline: none;
}

.modal-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.modal-update-btn, .modal-delete-btn, .modal-close-btn {
  margin: 4px 7px;
  padding: 4px 7px;
  font-size: 8px;
  font-weight: 700;
  background-color: white;
  border: none;
  border-radius: 1px;
}
.modal-delete-btn {
  color: red;
}
.modal-update-btn {
  color: green;
}
.modal-close-btn {
  color: blue;
}